:root {
  color-scheme: light dark;
  --background-color: black;
  --text-primary-color: white;
  --hover-color: #ffffff33;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: white;
    --text-primary-color: black;
    --hover-color: #0000001a;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  font-size: calc(1rem + 0.5vw);
  line-height: 1.6;
  height: 100%;
}

body {
  font-family: system-ui, sans-serif;
}