.recipeCard {
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: auto;
    max-width: 10rem;
    padding: 16px;
    margin: 1rem;
    cursor: pointer;
}

.recipeImage {
    width: 100%;
    border-radius: 8px;
}

.recipeHeader {
    color: #555;
    font-size: 0.8rem;
}

.recipeDetails {
    display: flex;
    justify-content: space-between;
    font-size: 0.6rem;
    color: #555;
    margin-top: 18px;
}

.recipeDetails span {
    padding: 4px 8px;
    border-radius: 4px;
    background-color: #f0f0f0;
}