.sideBar {
    background-color: var(--background-color);
    height: 100%;
    width: calc(10vw + 2rem);
    box-shadow: 0px 10px 12px -2px var(--text-primary-color);
    margin-inline-end: .5rem;
    padding: 0;

    &__details {
        position: relative;
        line-height: 2rem;
        text-transform: capitalize;
        user-select: none;
        cursor: pointer;
        color: var(--text-primary-color);

        &::before {
            position: absolute;
            left: -1ch;
            font-weight: 600;
        }
    }
}

.filters {
    margin-inline-start: .5rem;
    padding: 0;
    text-wrap: balance;
    font-size: calc(0.5rem + 0.5vw);
    color: var(--text-secondary-color);

    &__listItem {
        border-right: 3px solid transparent;
        transition: all 200ms ease;

        &:hover {
            background-color: var(--hover-color);
            border-right: 3px solid var(--text-secondary-color);
            box-shadow: 0px 4px 12px -2px var(--hover-color);
        }
    }

    &__slider {

        label {
            display: block;
        }

        &__items {
            display: flex;
            gap: 0.2rem;
            font-size: 0.6rem;
        }

        &__heading {
            display: flex;
            align-items: center;

            &__clearButton {
                margin-left: 0.3rem;
                font-size: 0.6rem;
                text-decoration: none;
                cursor: pointer;
            }
        }
    }
}

details>summary {
    color: var(--text-secondary-color);
    list-style: none;

    &:hover {
        font-weight: 600;
    }
}

.searchRecipe {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/55/Magnifying_glass_icon.svg");
    background-position: 4px;
    background-repeat: no-repeat;
    background-size: 0.7rem;
    border-radius: 4px;
    border: 1px solid #555;
    font-family: inherit;
    font-size: 0.8rem;
    margin: 0.2rem;
    padding: 0.1rem 0 0.2rem 1.1rem;
    width: calc(100% - 0.5rem);
}

.checkbox {
    display: flex;
    gap: 0.4rem;
    margin-left: 1rem;
    color: var(--text-secondary-color);
    font-size: calc(0.4rem + 0.5vw);
}